@import '../config';

.comment-section {
   background: $dark-bg-t;
   padding:4em 0 5em 0;
   

   h1 {
      font-family: 'Hubballi';
      text-align: center;
      font-size: 1.7rem;
      margin-bottom: .1em;
   }

   h2,
   h3 {
      border-bottom: 1px solid antiquewhite;
      color:antiquewhite;
      width: max-content;
      max-width: 80%;
      text-align: center;
      margin: 0 auto;
      font-family: 'Hubballi';
      font-size: 1rem;
   }

   h3 {
      margin: 1em auto;
      color: aquamarine;
      border:0;
      transition: .3s;
      cursor: pointer;

      &:hover { color: aqua; }
   }

   section.outer-section {
      background: #303030;
      cursor: grabbing;

      section.inner-section {
         @include flex-c-c;
         padding: 1em 0;
         width: max-content;
      }  
   }
}