@import '../config';

.search-container {
   height: 100vh;
   position: relative;

   h1 {
      text-align: center;
      font-size: clamp(1.5rem, 8vw, 3rem);
      font-family: 'Hubballi', cursive;
      padding:1em 0;
      text-transform: uppercase;
      text-shadow: 0 0 2px #252525, 0 0 4px #252525;
   }

   section.main-cont {
      width: 765px;
      max-width: 95%;
      margin:0 auto;

      div.input-cont {
         position: relative;

         section.srch-res-cont {
            position: absolute;
            top:100%;
            left: 0;
            background: royalblue;
            border-radius: .2em;
            width: 100%;
            z-index: 99;
         }

         input {
            width: 99%;
            margin: 0 auto;
            display: block;
            outline: 0;
            border:2px solid royalblue;
            background: #252525;
            border-radius: .2em;
            font-size: clamp(1rem, 6vw, 1.5rem);
            padding:.5em 0;
            color:white;
            text-align: center; 
            letter-spacing: 1px;
         }
      
         span {
            position: absolute;
            left:2%;
            top:50%;
            transform: translateY(-50%);
            svg { width: clamp(20px, 5vw, 30px); height: clamp(20px, 5vw, 30px); }
         }
      }

      section.popular {    
         h2 {
            font-size: 1.1rem;
            font-family: 'Hubballi', cursive;
            margin:.1em 0 .5em 0;
         }
      }
   }
}

   @media (max-width: 480px){
      .search-container {
         height: auto;
         padding-bottom: 3em;
      }  
   } 