$light-text: white;

$dark-bg: #303030;
$darker-bg: #202020;

$dark-bg-t: rgba(30, 30, 30, .65);
$darker-bg-t: rgba(30, 30, 30, .9);

@mixin flex-c-c {
   display: flex;
   justify-content: center;
   align-items: center;
}

@mixin flex-sa-c {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

@mixin flex-sb-c {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

@mixin abs-50-50-b {
   position: absolute;
   left:50%;
   bottom:50%;
   transform: translate(-50%, -50%);
}

@mixin abs-50-50-t {
   position: absolute;
   left:50%;
   top:50%;
   transform: translate(-50%, -50%);
}