// font-family: 'Manrope', sans-serif;
// font-family: 'Hubballi', cursive;
@import './config';

* {
   margin:0;
   padding:0;
   font-weight: 300;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

body {
   font-family: 'Manrope', sans-serif;
   min-height: 100vh;
   background: url('https://images.unsplash.com/photo-1546484396-fb3fc6f95f98?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
   background-size: cover;
   background-attachment: fixed;
   color: white;
   width: 100vw;
   overflow-x: hidden;

   &::-webkit-scrollbar {
      width: 4px;
      background: $darker-bg;
   }

   &::-webkit-scrollbar-thumb {
      width: 100%;
      background: #606060;
   }
}

div.wrap-html { 
   overflow-x: hidden;
}

section.uparrow {
   position: fixed;
   right:0;
   bottom:0;
   z-index: 9999999999;
   cursor: pointer;
   transition: .3s;
   opacity: 0;
   pointer-events: none;

   &:hover svg {
      color: orange;
   }
 
   svg {
      width: 30px;
      height: 30px;
      color:white;
   }
} 